<div class="about-page">
	<ul class="timeline list-unstyled">
		<li class="clear-fix">
			<div class="timeline-tag">
				<ins>2014-12-12</ins>
            </div>
			<div class="timeline-item">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</li>
		<li class="clear-fix">
			<div class="timeline-tag">
				<ins>2014-12-12</ins>
            </div>
			<div class="timeline-item">
				<div ></div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</li>
		<li class="clear-fix">
			<div class="timeline-tag">
				<ins>2014-12-12</ins>
            </div>
			<div class="timeline-item">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</li>
		<li class="clear-fix">
			<div class="timeline-tag">
				<ins>2014-12-12</ins>
            </div>
			<div class="timeline-item">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</li>
	</ul>
</div>