<div class="details-page">
	<div class="container list-unstyled list">
		<div class="bar">
			<a href="#/home#main">
				<i class="fa fa-reply"></i>
			</a>
				<em>相册名</em>
			
		</div>
		<div class="col-md-3 col-xs-12 item">
			<img-box url="url" ng-click="showBig()"></img-box>
		</div>
		<div class="col-md-3 col-xs-12 item">
			<img-box url="url" ng-click="showBig()"></img-box>
		</div>
		<div class="col-md-3 col-xs-12 item">
			<img-box url="url" ng-click="showBig()"></img-box>
		</div>
		<div class="col-md-3 col-xs-12 item">
			<img-box url="url" ng-click="showBig()"></img-box>
		</div>
		<div class="col-md-3 col-xs-12 item">
			<img-box url="url" ng-click="showBig()"></img-box>
		</div>
		<div class="col-md-3 col-xs-12 item">
			<img-box url="url" ng-click="showBig()"></img-box>
		</div>
		<div class="col-md-3 col-xs-12 item">
			<img-box url="url" ng-click="showBig()"></img-box>
		</div>
		<div class="col-md-3 col-xs-12 item">
			<img-box url="url" ng-click="showBig()"></img-box>
		</div>
	</div>
</div>