<div class="home-page">
	<my-card title="'相册1'">
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
	</div>
	</my-card>
	<my-card title="'相册2'">
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail"><img src="img/bw1.jpg" alt="">
			</a>
		</div>
	</div>
	</my-card>
</div>

