<div class="home-page row">
	 <div class="col-xs-12 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="img/y005.JPG" alt="...">
	    </a>
	  </div>
	  <div class="col-xs-12 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="img/y005.JPG" alt="...">
	    </a>
	  </div>
	  <div class="col-xs-12 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="img/y005.JPG" alt="...">
	    </a>
	  </div>
	  <div class="col-xs-12 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="img/y005.JPG" alt="...">
	    </a>
	  </div>
	  <div class="col-xs-12 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="img/y005.JPG" alt="...">
	    </a>
	  </div>
	  <div class="col-xs-12 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="img/y005.JPG" alt="...">
	    </a>
	  </div>
</div>

