<div class="panel panel-default my-card">
	<div class="panel-heading">
		<i class="fa fa-camera" ng-if="card.type==1"></i>
		<i class="fa fa-video-camera" ng-if="card.type==2"></i>
		&nbsp;
		<span ng-bind="card.date"></span>
	</div>
	<div class="panel-body" ng-show="card.type==1">
		<div class="col-xs-6 col-md-3" ng-repeat="img in card.imgs">
			<a href="#" class="thumbnail" ng-click="openImg()"><img ng-src="{{img.url}}" alt="">
			</a>
		</div>
		<div class="text-center load-more">
			<a class="btn btn-load" ng-click="loadMore()">
				<i class="glyphicon glyphicon-menu-down" title="load more..."></i>
			</a>
		</div>
	</div>
	<div  class="panel-body" ng-show="card.type==2">
		<video width="100%" controls="controls" ng-repeat="img in card.imgs">
			<source ng-src="{{img.url}}" type="video/mp4">
		</video>
	</div>
	<div class="panel-footer text-center">
		<ul class="list-inline">
			<li><span class="badge fa fa-thumbs-o-up">14</span></li>
			<li><span class="badge fa fa-thumbs-o-down">14</span></li>
			<li><span class="badge fa fa-comment-o" title="Comment">0</span></li>
		</ul>
	</div>
</div>
