html,body{ 
	margin:0px; 
	padding:0px; 
	height: 100%;
  	width: 100%;
  	background:rgba(0, 0, 0, 0.3);
	.main-view{
		margin-top : 50px;
	}
	
	.footer-page{
		color : #fff;
		text-shadow: 5px 5px 5px #000;
	}
}
