.header-page {
	height: 100%;
	width: 100%;
	.header {
		display: table;
		height: 100%;
		width: 100%;
		position: relative;
	
		.header-content{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color:#fff;
			background:rgba(0, 0, 0, 0);
			
			h2{
				text-shadow: 5px 5px 5px #000;
			}
			
			.btn-more{
				background:rgba(0, 0, 0, 0.8);
				min-width : 100px;
				color : #fff;
				
				&:hover{
					background:rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
	#nav {
		margin-bottom:-20px;
		.navbar-default{
			border : 0;
			border-radius : 0;
			background:rgba(0, 0, 0, 0.7);
			
			a {
				color : #fff;
				
				&:hover {
					color : #ccc;
				}
				
				&.active{
					color : #ccc;
				}
			}
		}
	}
}

