.my-card {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border: 0;
}
.my-card .panel-heading {
  color: #fff;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: rgba(0, 0, 0, 0);
}
.my-card .panel-body {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
}
.my-card .panel-body .load-more {
  margin: -15px 0px;
}
.my-card .panel-body .load-more .btn-load {
  color: #ccc;
}
.my-card .panel-body .load-more .btn-load:hover {
  color: #fff;
}
.my-card .panel-footer {
  padding: 3px 0px;
  background: rgba(204, 204, 204, 0.8);
}
.my-card .panel-footer ul {
  margin-bottom: 5px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
html #main-view,
body #main-view {
  height: 100%;
  margin-top: 50px;
}

.header-page {
  height: 100%;
  width: 100%;
}
.header-page .header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
.header-page .header .header-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #f1f1f1;
  background: rgba(0, 0, 0, 0);
}
.header-page .header .header-content .btn-more {
  background: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  color: #fff;
}
.header-page .header .header-content .btn-more:hover {
  background: rgba(0, 0, 0, 0.8);
}
.header-page #nav {
  margin-bottom: -20px;
}
.header-page #nav .navbar-default {
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.6);
}
.header-page #nav .navbar-default a {
  color: #ccc;
}
.header-page #nav .navbar-default a:hover {
  color: #fff;
}
.header-page #nav .navbar-default a.active {
  color: #fff;
}


html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
html #main-view,
body #main-view {
  height: 100%;
  margin-top: 50px;
}
.header-page {
  height: 100%;
  width: 100%;
}
.header-page .header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
.header-page .header .header-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #f1f1f1;
  background: rgba(0, 0, 0, 0);
}
.header-page .header .header-content .btn-more {
  background: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  color: #fff;
}
.header-page .header .header-content .btn-more:hover {
  background: rgba(0, 0, 0, 0.8);
}
.header-page #nav {
  margin-bottom: -20px;
}
.header-page #nav .navbar-default {
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.6);
}
.header-page #nav .navbar-default a {
  color: #ccc;
}
.header-page #nav .navbar-default a:hover {
  color: #fff;
}
.header-page #nav .navbar-default a.active {
  color: #fff;
}
.my-card {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border: 0;
}
.my-card .panel-heading {
  color: #fff;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: rgba(0, 0, 0, 0);
}
.my-card .panel-body {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
}
.my-card .panel-body .load-more {
  margin: -15px 0px;
}
.my-card .panel-body .load-more .btn-load {
  color: #ccc;
}
.my-card .panel-body .load-more .btn-load:hover {
  color: #fff;
}
.my-card .panel-footer {
  padding: 3px 0px;
  background: rgba(204, 204, 204, 0.8);
}
.my-card .panel-footer ul {
  margin-bottom: 5px;
}
