html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
html .main-view,
body .main-view {
  height: 100%;
}

.header-page {
  height: 100%;
  width: 100%;
}
.header-page .header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
.header-page #nav {
  margin-bottom: -20px;
}

.home-page {
  position: relative;
  height: 1000px;
}
.home-page .home-content {
  position: relative;
  margin: 0px 15px;
  background-color: #e6f7ff;
  border: 2px solid #c8e8f9;
  height: 800px;
}
.home-page .home-content ul li span {
  position: absolute;
  display: inline-block;
  background: url('../images/2000.jpg') no-repeat;
  background-position: 0px -36px;
  width: 68px;
  height: 70px;
  top: 10;
  left: -12px;
}
.home-page .home-content .main_round {
  position: absolute;
  display: inline-block;
  background: url('../images/2000.jpg') no-repeat;
  background-position: 0 -108px;
  width: 82px;
  height: 82px;
  top: -2px;
  right: -2px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
html .main-view,
body .main-view {
  height: 100%;
}
.header-page {
  height: 100%;
  width: 100%;
}
.header-page .header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
.header-page #nav {
  margin-bottom: -20px;
}
.home-page {
  position: relative;
  height: 1000px;
}
.home-page .home-content {
  position: relative;
  margin: 0px 15px;
  background-color: #e6f7ff;
  border: 2px solid #c8e8f9;
  height: 800px;
}
.home-page .home-content ul li span {
  position: absolute;
  display: inline-block;
  background: url('../images/2000.jpg') no-repeat;
  background-position: 0px -36px;
  width: 68px;
  height: 70px;
  top: 10;
  left: -12px;
}
.home-page .home-content .main_round {
  position: absolute;
  display: inline-block;
  background: url('../images/2000.jpg') no-repeat;
  background-position: 0 -108px;
  width: 82px;
  height: 82px;
  top: -2px;
  right: -2px;
}
